## Extra Point
### row_to_json

In [16]:
copy (
    with cte as(
        with t1 as(    
            SELECT b.name "artist_name", artistid, c.name "song_name", sum(stream) "stream", no_followers "followers"
                from song_artist a
            inner join artist b on a.artist_artistid = b.artistid
            inner join song c on a.song_songid = c.songid
                GROUP BY b.name, artistid, c.name
                ORDER BY stream DESC
        ),t2 as(
        SELECT  artistid, artist_name, song_name, stream, followers,
                rank() over w as rank
            from t1 
            GROUP BY artist_name, artistid, song_name, stream, followers
            window w as (PARTITION by artistid, artist_name ORDER BY artistid, artist_name, stream desc)
        )

        SELECT  artistid, artist_name, song_name,
                to_char(stream, '999G999G999') "total_stream",
                to_char(followers, '999G999G999') "no_followers"
                
        from t2 
            where rank=1
    )

    SELECT row_to_json(cte) from cte
) to 'C:/Users/HP/Desktop/pj_database/row_to_json_1'

In [15]:
COPY(
    with cte as(
        with yau as 
            (SELECT *, "ad" + "premium" "total" from 
                (SELECT year, a.yearly_active_users "ad"
                from revenue_ad_supported a) a1
                inner join 
                (select year, b.yearly_active_users "premium" 
                from revenue_premium b ) b1
                USING (year) )
        SELECT year, to_char(ad,'999G999G999') "yearly active user ad", to_char(premium,'999G999G999') "yearly active user premium", 
        to_char((total / 365), '999G999') "user per day"
        from yau
    )

    SELECT row_to_json(cte) from cte
) to 'C:/Users/HP/Desktop/pj_database/row_to_json_2'